{% extends 'account/base.html' %}
{% load static %}
<title>{% block title %} Մոռացե՞լ եք գաղտնաբառը{% endblock %}</title>
{% block content %}
    <main>
        <section class="sign-in-form section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto col-12">
                        <div class="forgot">
                            <h4>Մոռացե՞լ եք գաղտնաբառը </h4>
                        </div>
                        <p class="text-center">Խնդրում եմ լրացնել դաշտը</p>
                        <div class="row">
                            <div class="col-lg-8 col-11 mx-auto">
                                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                    {% csrf_token %}
                                    <div class="form-floating mb-4 p-0">
                                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                               class="form-control" placeholder="Email address" required>
                                        <label for="email">Էլ․ Փոստ</label>
                                        <div class="col-md-4">
                                            <button type="submit" class="filled-button"> Հաստատել </button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}






    

 